.fields {   
    width: 85%;
    margin: auto;
}

.fields input{
    width: 100%;
    margin: 10px auto;
    font-size: 14px;
    outline: none;
    border: none;
    border-bottom: 2px solid #0E49B5;
    background-color: transparent;
}