.lista-usuarios li{
    font-size: 14px;
    font-weight: 500;
    list-style-type: none;
    border-bottom: 2px solid rgba(3, 3, 86, 0.688);
    padding: 10px;

}
.actions-btn{
    display: flex;
    justify-content: space-around;
}

.btn-delete{
    cursor: pointer;
}